.selectable-dropdown a.dropdown-toggle {
    padding: 11px 15px 10px 35px;
    position: relative;
    padding: 9px 12px 10px 8px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.selectable-dropdown a.dropdown-toggle img {
    width: 19px;
    height: 19px;
    vertical-align: text-bottom;
    position: absolute;
    right: 12px;
    top: 7px;
}
.selectable-dropdown a.dropdown-toggle .selectable-text {
    overflow: hidden;
    display: block;
}
.selectable-dropdown a.dropdown-toggle .selectable-arrow {
    display: inline-block;
    position: absolute;
    padding: 6px 4px;
    background: #fff;
    top: 2px;
    left: 1px;
}
.selectable-dropdown a.dropdown-toggle svg {
    color: #888ea8;
    width: 13px!important;
    height: 13px!important;
    margin: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.selectable-dropdown.show a.dropdown-toggle svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.selectable-dropdown.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu {
    left: auto;
    top: 50px!important;
}
.selectable-dropdown.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu.show {
    top: 38px!important;
}

.selectable-dropdown.dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu img {
    width: 19px;
    height: 19px;
    margin-left: 7px;
    vertical-align: top;
}

.invoice-detail-body {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
    border-radius: 6px;
}


/*
====================
    Detail Body
====================
*/

/* Detail Title */

.invoice-content .invoice-detail-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 48px;
}
.invoice-content .invoice-title input {
    font-size: 18px;
    padding: 5px 15px;
    height: auto;
}
.invoice-content .invoice-logo .dropify-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    padding: 7px;
    border: 1px solid #e0e6ed;
}
.invoice-content .invoice-logo .dropify-wrapper .dropify-preview {
    background-color: #FFF; 
    padding: 0; 
}
.invoice-content .invoice-logo .dropify-wrapper .dropify-clear {
    font-size: 10px;
    padding: 4px 8px;
    color: #bfc9d4;
    border: none;
    top: -3px;
    left: 0;
}
.invoice-content .invoice-logo .dropify-wrapper .dropify-clear:hover { background-color: transparent; }
.invoice-content .invoice-logo .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message { padding-top: 27px; }
.invoice-content .invoice-logo .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
    height:20px;
    position: absolute;
    top: -1px;
    right: 45%;
    color: #fff;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    background: transparent;
    width: 0;
    height: 0;
    font-size: 28px;
    width: 24px;
    content: " ";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-upload-cloud'%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3cline x1='12' y1='12' x2='12' y2='21'%3e%3c/line%3e%3cpath d='M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3'%3e%3c/path%3e%3cpolyline points='16 16 12 12 8 16'%3e%3c/polyline%3e%3c/svg%3e");
    height: 20px;
}
.invoice-content .invoice-logo .dropify-wrapper.touch-fallback { border: 1px solid #ebedf2; }
.invoice-content .invoice-logo .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner { padding: 0; }
.invoice-content .invoice-logo .dropify-wrapper.touch-fallback .dropify-clear { color: #515365; position: relative; }
.invoice-content .invoice-logo .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename { margin-top: 10px; }

/* Detail Header */
.invoice-content .invoice-detail-header {
    padding: 0 48px;
}

/* Detail Header -> invoice-address-company */

.invoice-content .invoice-address-company h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.invoice-content .invoice-address-company .invoice-address-company-fields label {
    font-size: 14px;
    color: #515365;
    min-width: 75px;
    align-self: center;
    margin-bottom: 0;
}
.invoice-content .invoice-address-company .invoice-address-company-fields .form-group {
    margin-bottom: 5px;
}

/* Detail Header -> invoice-address-client */

.invoice-content .invoice-address-client h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.invoice-content .invoice-address-client .invoice-address-client-fields label {
    font-size: 14px;
    color: #515365;
    min-width: 75px;
    align-self: center;
    margin-bottom: 0;
}
.invoice-content .invoice-address-client .invoice-address-client-fields .form-group {
    margin-bottom : 5px;
}

/* Detail Terms */
.invoice-detail-terms {
    padding: 0 48px;
    padding-top: 25px;
    margin-top: 40px;
    border-top: 1px solid #ebedf2;
}
.invoice-detail-terms label {
    font-size: 14px;
    color: #515365;
    min-width: 75px;
    align-self: center;
    margin-bottom: 0;
}

/* Detail Items */
.invoice-detail-items {
    background: #fafafa;
    padding: 30px;
    padding: 30px 48px;
}

/* Detail Items -> table thead */

.invoice-detail-items thead th {
    padding: 9px 6px;
    font-size: 11px!important;
    border: none;
    border-top: 1px solid #e0e6ed;
    border-bottom: 1px solid #e0e6ed;
    color: #515365!important;
}

/* Detail Items -> table body */

.invoice-detail-items tbody td {
    border: none;
    padding: 14px 7px;
    vertical-align: top!important;
}
.delete-item-row {
    width: 10px;
}
.invoice-detail-items tbody td.description {
    width: 365px;
}
.invoice-detail-items tbody td.rate {
    width: 110px;
}
.invoice-detail-items tbody td.qty {
    width: 110px;
}
.invoice-detail-items tbody td.amount {
    width: 60px;
}
.invoice-detail-items tbody td.tax {
    width: 60px;
}
.invoice-detail-items tbody td.tax .new-chk-content {
    display: none;
}
.invoice-detail-items tbody td ul {
    padding: 0;
}
.invoice-detail-items tbody td ul li {
    list-style: none;
}
.invoice-detail-items tbody td ul li svg {
    color: #515365;
    stroke-width: 1.5;
    height: 19px;
    width: 19px;
}
.invoice-detail-items tbody td input {
    font-size: 12px;
    padding: 12px 9px;
}
.invoice-detail-items tbody td textarea {
    margin-top: 5px;
    resize: none;
}
/* Detail Items -> Editable amount */

.invoice-detail-items tbody td span.editable-amount {
    white-space: nowrap;
}

/* Detail Total */

.invoice-detail-total {
    padding: 0 48px;
    margin-top: 25px;
}
.invoice-detail-total .invoice-created-by {
    margin-bottom: 5px;
}
.invoice-detail-total .invoice-created-by label {
    font-size: 14px;
    color: #515365;
    min-width: 75px;
    align-self: center;
    margin-bottom: 0;
}

/* Detail Total -> invoice-totals-row */

.totals-row {
    max-width: 9rem;
    margin-right: auto;
    margin-left: 60px;
}

.invoice-totals-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.invoice-totals-row .invoice-summary-label {
    min-width: 130px;
    min-width: 60px;
    font-size: 14px;
    color: #888ea8;
}
.invoice-totals-row .invoice-summary-value {
    min-width: 60px;
    text-align: left;
    font-size: 14px;
    color: #515365;
    font-weight: 600;
}

/* Detail Total -> invoice-summary-balance-due */

.invoice-totals-row.invoice-summary-balance-due {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #ebedf2;
}
.invoice-totals-row.invoice-summary-balance-due .invoice-summary-label {
    font-size: 14px;
    color: #0e1726;
}

/* Detail Note */

.invoice-detail-note {
    padding: 0 48px;
    padding-top: 25px;
    margin-top: 40px;
    border-top: 1px solid #ebedf2;
}
.invoice-detail-note .invoice-note {
    margin-bottom: 0;
}
.invoice-detail-note .invoice-note label {
    font-size: 14px;
    color: #515365;
    min-width: 75px;
    align-self: center;
    margin-bottom: 0;
}
.invoice-detail-note textarea {
    resize: none;
}




/*
======================
    Invoice Actions
======================
*/

.invoice-actions {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    border: 1px solid #e0e6ed;
    border-radius: 6px;
    margin-top: 25px;
}

.invoice-actions label {
    font-size: 13px;
    font-weight: 600;
    color: #515365;
}


/* Invoice Actions -> action-currency */

.invoice-actions .invoice-action-currency label {
    padding: 0 25px 10px 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebedf2;
    width: 100%;
    font-size: 16px;
    color: #4361ee;
    font-weight: 500;
}
.invoice-actions .invoice-action-currency .invoice-select {
    margin: 0 25px 0 25px;
}
.invoice-actions .invoice-action-currency a.dropdown-toggle {
    padding: 9px 45px 9px 38px;
    width: 100%;
}
.invoice-actions .invoice-action-currency a.dropdown-toggle span {
    vertical-align: middle;
}
.invoice-actions .invoice-action-currency .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu {
    width: 100%;
    padding: 6px 15px;
}
.invoice-actions .invoice-action-currency .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu .dropdown-item {
    padding: 10px 3px;
    border-radius: 0;
    font-size: 16px;
    line-height: 1.45;

    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}
.invoice-actions .invoice-action-currency .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #f1f2f3;
}
.invoice-actions .invoice-action-currency .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu img {
    vertical-align: sub;
}

/* Invoice Actions -> action-tax */

.invoice-actions .invoice-action-tax {
    padding-top: 20px;
    margin-top: 20px;
}
.invoice-actions .invoice-action-tax h5 {
    padding: 0 25px 10px 25px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebedf2;
    width: 100%;
    font-size: 16px;
    color: #4361ee;
    font-weight: 500;
}
.invoice-actions .invoice-action-tax .invoice-action-tax-fields {
    margin: 0 25px 0 25px;
}
.invoice-actions .invoice-action-tax .input-rate {
    position: relative;
    padding: 9px 15px 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
    display: inline-block;
}

/* Invoice Actions -> action-discount */

.invoice-actions .invoice-action-discount {
    padding-top: 20px;
    margin-top: 20px;
}
.invoice-actions .invoice-action-discount .invoice-action-discount-fields {
    margin: 0 25px 0 25px;
}
.invoice-actions .invoice-action-discount h5 {
    width: 100%;
    padding: 0 25px 10px 25px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebedf2;
    width: 100%;
    font-size: 16px;
    color: #4361ee;
    font-weight: 500;
}
.invoice-actions .invoice-action-discount .input-rate {
    position: relative;
    padding: 9px 15px 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
    display: inline-block;
    
}

/*
===============================
    Invoice Actions Button
===============================
*/

.invoice-actions-btn {
    padding: 25px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 25px;
    background-color: #fff;
    border: 1px solid #e0e6ed;
    border-radius: 6px;
}
.invoice-actions-btn label {
    font-size: 14px;
    font-weight: 600;
    color: #515365;
}

/* Invoice Actions -> action-btn */

.invoice-actions-btn .invoice-action-btn a {
    -webkit-transform: none;
    transform: none;
}
.invoice-actions-btn .invoice-action-btn a.btn-send {
    width: 100%;
    /* margin-bottom: 20px; */
}
.invoice-actions-btn .invoice-action-btn a.btn-preview {
    width: 100%;
    /* margin-bottom: 20px; */
}
.invoice-actions-btn .invoice-action-btn a.btn-download {
    width: 100%;
    float: left;
}

@media(max-width: 1600px) {
    .invoice-detail-body {
        margin-bottom: 50px;
    }
    .invoice-content .invoice-address-client {
        margin-top: 30px;
    }

    .invoice-actions-btn .invoice-action-btn a.btn-send {
        margin-bottom: 0;
    }
    .invoice-actions-btn .invoice-action-btn a.btn-preview {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {

    .invoice-detail-total {
        padding: 0 25px;
    }
    .invoice-detail-note {
        padding: 0 25px;
        padding-top: 25px;
    }
    .invoice-detail-items {
        padding: 0 25px;
        background: transparent;
    }
    .invoice-detail-terms {
        padding-right: 25px;
        padding-left: 25px;
    }
    .invoice-content .invoice-detail-header {
        padding: 0 25px;
    }
    .invoice-content .invoice-detail-title {
        display: block;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .invoice-content .invoice-logo {
        margin-bottom: 15px;
    }

    .invoice-content .invoice-logo .dropify-wrapper {
        width: auto;
    }
    .totals-row {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    .invoice-detail-items thead {
        display: none;
    }
    .invoice-detail-items tbody td {
        display: block;
    }
    .invoice-detail-items tbody td.description {
        width: 100%;
        padding: 10px 4px;
    }
    .invoice-detail-items tbody td.rate {
        display: inline-block;
        padding: 0 4px;
    }
    .invoice-detail-items tbody td.qty {
        display: inline-block;
        padding: 0 4px;
    }
    .invoice-detail-items tbody td.amount {
        display: inline-block;
        width: auto;
    }
    .invoice-detail-items tbody td.tax {
        width: auto;
        display: inline-block;
        padding: 12px 7px;
    }
    .invoice-detail-items tbody td.tax .new-chk-content {
        display: inline-block;
    }
    .invoice-detail-items tbody td.delete-item-row {
        padding: 0;
    }
    .invoice-detail-items tbody td.delete-item-row ul {
        position: absolute;
        right: 3px;
        top: 7px;
    }
    .invoice-detail-items tbody td.delete-item-row .delete-item {
        position: absolute;
        right: 6px;
        top: 1px;
    }
    .invoice-detail-items tbody tr {
        background: #fafafa;
        display: block;
        padding: 25px 5px;
        border-radius: 8px;
        position: relative;
    }
    .invoice-detail-items tbody tr:not(:last-child) {
        margin-bottom: 16px;
    }
    .invoice-actions-btn .invoice-action-btn a.btn-send {
        margin-bottom: 20px;
    }
    .invoice-actions-btn .invoice-action-btn a.btn-preview {
        margin-bottom: 20px;
    }
}

@media(max-width: 575px) {
    .invoice-actions-btn .invoice-action-btn {
        width: 100%;
    }
    .selectable-dropdown a.dropdown-toggle {
        padding: 9px 15px 10px 20px;
    }
    .selectable-dropdown a.dropdown-toggle svg {
        top: 11px;
        left: 4px;
    }
}