div#load_screen{
    background: #e0f0ef;
    opacity: 1;
    position: fixed;
    z-index: 999999;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}
div#load_screen .loader {
    display: flex;
    justify-content: center;
    height: 100vh;
    border: none;
    animation: none;
    width: 100%;
}
div#load_screen .loader-content {
    left: 0;
    align-self: center;
}
.spinner-grow {
    color: var(--accent-color);
}