.sidenav {    position: fixed;
    left: -30px;
    top: 125px;
    width: 236px;
    height: auto;
    border-right: 1px solid #e0e6ed;}
.sidenav .sidenav-header:after { display: none; }
.sidenav .sidenav-header p {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    background: #4361ee;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #4361ee 0%, #805dca 100%);
}
.sidenav .sidenav-content {
    background-color: transparent;
    display: block;
    border: none;
}
.sidenav .sidenav-content a {
    display: block;
    padding: 3px 0px;
    color: #3b3f5c;
    font-size: 12px;
    padding: 3px 25px;
}
.sidenav .sidenav-content a.active {
    color: #805dca;
    font-weight: 700;
    border-right: 1px solid #805dca;
}
.sidenav .sidenav-content a:hover {
    color: #4361ee;
    font-weight: 700;
    border-right: 1px solid #805dca;
}
#content > .container {
    display: flex;
    max-width: 58.333333%!important;
    margin-right: 80px;
    margin-right: 2px;
    padding: 0 16px!important;
}
#content > .container > .container { padding: 0; margin: 0; }
@media (max-width: 575px) {
    .sidenav .sidenav-content a {
        padding: 4px 7px;
        margin-left: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 1600px) {
    .sidenav { display: none; }
    #content > .container {
        max-width: 100%!important;
        margin-right: auto;
    }
    #content > .container > .container {
        max-width: 100%;
    }
}