/*      Map     */

#basic_map1 { width: 100%; height: 790px!important; border-radius: 12px;}


/*  Contact Section Header     */

.cu-contact-section .cu-section-header {
    background-color: rgb(3 3 5 / 13%);
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    padding: 15px;
    margin-bottom: 45px;
    border-radius: 12px
}
.cu-contact-section .cu-section-header h4 {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 3px;
}
.cu-contact-section .cu-section-header p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

/* 	Contact Content 	*/

.cu-contact-section {
    position: relative;
	padding: 0;
    background-color: #eaf1ff;
}
.cu-contact-section .contact-form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    height: -moz-max-content;
    height: 100%;
    z-index: 2;
}
.cu-contact-section .contact-form form {
    background: #fff;
    padding: 25px 35px;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
    height: 100%;

    background-color: rgb(3, 3, 5, 0.42);
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(10px);

    /* border-radius: 15px; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.cu-contact-section .contact-form form .input-fields { position: relative; }
.cu-contact-section .contact-form form .input-fields svg {
    position: absolute;
    top: 11px;
    color: var(--accent-color);
    width: 20px;
    right: 25px;
}
.cu-contact-section .contact-form form .input-fields svg.feather-mail {
    right: 12px;
    top: 7px;
}
.cu-contact-section .contact-form form h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff;
}
.cu-contact-section .contact-form form input {
    padding: 8px 40px 8px 5px;
    background-color: transparent;
    font-weight: 600;
    border: none;
}
.cu-contact-section .contact-form form input::-webkit-input-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .contact-form form input::-ms-input-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .contact-form form input::-moz-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .contact-form form input {
    box-shadow: none;
    background-color: rgb(3 3 5 / 13%);
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    color: #fff;
    font-weight: 400;
}

.cu-contact-section p {
    color: #fff
}

.cu-contact-section .n-chk { display: inline-block; }

.new-control.new-radio.radio-success>input:checked~span.new-control-indicator {
    background: var(--accent-color)!important;
}

.cu-contact-section .form-group textarea {
    padding: 8px 43px 8px 5px;
    background-color: transparent;
    resize: none;
    border: none;
}
.cu-contact-section .form-group textarea::-webkit-input-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .form-group textarea::-ms-input-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .form-group textarea::-moz-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}
.cu-contact-section .form-group textarea {
    box-shadow: none;
    background-color: rgb(3 3 5 / 13%);
    background-attachment: fixed;
    background-size: contain;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    color: #fff;
    font-weight: 400;
}
.cu-contact-section .form-group textarea:-ms-input-placeholder { color: #7b8489; }
.cu-contact-section form button {
    border: none;
    padding: 15px 25px;
    display: block;
    width: 100%;
    background-color: var(--accent-color)!important;
}
@media (max-width: 991px) {
    .cu-contact-section .contact-form {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .cu-contact-section .contact-form form {
        max-width: 530px;
        margin: 0 auto;
        width: 100%;
        border-radius: 0;
    }
}
@media (max-width: 991px) {
    body { background: #fff; }
}
@-moz-document url-prefix() {
    .cu-contact-section .contact-form form {
        background-color: #151516;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cu-contact-section .contact-form form {
        min-width: 530px;
        width: 100%;
    }
}