body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f1f2f3;
}
.helpdesk:before {
    content: "";
    position: absolute;
    top: 92px;
    right: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 280px;
    background-color: #0052cf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23009d8a'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230078ad'/%3E%3Cstop offset='1' stop-color='%230052cf'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .helpdesk:before {
        background-image: none;
    }
}
.helpdesk .navbar .navbar-brand {
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
}
.helpdesk .navbar .nav-link { color: #fff!important; }

/*
	Helpdesk Header Wrapper
*/

.hd-header-wrapper {
    padding: 120px 0 67px 0;
    border-radius: 4px;
}
.hd-header-wrapper h4 {
    color: #fff;
    font-size: 46px;
    padding: 0 8px;
}
.hd-header-wrapper p {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.hd-header-wrapper .input-group {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.hd-header-wrapper span.input-group-text {
    background-color: #fff;
    border-color: #fff;
    padding: 11px 20px 11px 8px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: normal !important;
}
.hd-header-wrapper span.input-group-text svg {
    font-weight: 600;
    color: #4361ee;
}
.hd-header-wrapper .form-control:focus {
    box-shadow: none;
    border-color: #4361ee;
    color: #3b3f5c;
    background: #f1f2f3;
}
.hd-header-wrapper input {
    border: none;
    border-radius: 4px;
    padding: 20px 16px;
    color: #0e1726;
    height: 100%;
}
.input-group .input-group-prepend .input-group-text {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

/*
	Tab Section
*/


/* 	Tab Content 	*/

.hd-tab-section .accordion .card {
    border: none;
    margin-bottom: 26px;
    -webkit-box-shadow: -2px 5px 17px 0 rgba(31,45,61,.1);
    box-shadow: -2px 5px 17px 0 rgba(31,45,61,.1);
    border-radius: 12px!important;
    cursor: pointer;
}
.hd-tab-section .accordion .card .card-header {
    background-color: #fff;
    color: #3b3f5c;
    border-color: transparent;
    padding: 0;
    border-radius: 6px;
}
.hd-tab-section .accordion .card .card-header div > div {
    padding: 13px 21px;
    cursor: pointer;
    background: transparent;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #3b3f5c;
    font-weight: 700;
}
.hd-tab-section .accordion .card .card-header div > div svg {
    width: 17px;
    vertical-align: middle;
    margin-left: 11px;
    color: #888ea8;
}
.hd-tab-section .accordion .card .card-header div > div[aria-expanded="true"] svg { color: #4361ee; }
.hd-tab-section .accordion .card:hover .card-header div > div svg { color: #4361ee; }
.hd-tab-section .accordion .card:not(:last-child) .card-header div > div { border-bottom: none; }
.hd-tab-section .accordion .card .card-body { padding: 20px 30px; }
.hd-tab-section .accordion .card .card-body p {
    line-height: 2.2;
    font-size: 14px;
    letter-spacing: 1px;
    color: #0e1726;
}

/*  Contact Content     */

.hd-contact-section { margin-bottom: 50px; }
.hd-contact-section .hd-slide-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #3b3f5c;
}
.carousel-item.community-help { padding: 13px; }
.carousel-item-content {
    max-width: 607px;
    max-width: 697px;
    margin: 0 auto;
    padding: 43px 0;
    height: 331px;
}

/*  Community help     */

.hd-contact-section .community-help .media {
    padding: 13px 25px;
    border: 1px solid #bfc9d4;
    border-radius: 12px;
    background: #fff;
}
.hd-contact-section .community-help .media svg {
    width: 54px;
    height: 55px;
    margin-left: 11px;
    align-self: center;
    color: #4361ee;
    stroke-width: 1.5px;
}
.hd-contact-section .community-help .media h5 {
    color: #4361ee;
    font-weight: 800;
     font-size: 17px; 
    margin-bottom: 5px;
}
.hd-contact-section .community-help .media p {
    font-size: 14px;
    font-weight: 600;
    color: #3b3f5c;
}

/*  News updates     */

.hd-contact-section .news-updates .media {
    padding: 13px 25px;
    border: 1px solid #bfc9d4;
    border-radius: 12px;
    background: #fff;
}
.hd-contact-section .news-updates .media svg {
    width: 54px;
    height: 55px;
    margin-left: 11px;
    color: #4361ee;
    stroke-width: 1.5px;
}
.hd-contact-section .news-updates .media h5 {
    color: #4361ee;
    font-weight: 800;
    margin-bottom: 0;
}
.hd-contact-section .news-updates .media p {
    font-size: 14px;
    font-weight: 600;
}


/*  Carousel indicators    */

.carousel-indicators {
    bottom: -34px;
    right: 0;
    left: 0;
    height: 22px;
}
.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 1;
    background-color: #888ea8;
}
.carousel-indicators li.active {
    background-color: #4361ee;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    background: #f1f2f3;
    width: 6%;
}
.carousel-control-next {
    left: -38px;
}
.carousel-control-prev {
    right: -38px;
}

.carousel-control-prev-icon {
    background-image: none;
    -webkit-box-shadow: -2px 5px 17px 0 rgba(31,45,61,.1);
    box-shadow: 0px 0px 19px 3px rgba(31,45,61,.1);
    padding: 9px;
    height: 33px;
    width: 33px;
    position: relative;
    border-radius: 50px;
}
.carousel-control-prev-icon svg {
    color: #4361ee;
    position: absolute;
    top: 4px;
    right: -1px;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 23px;
}
.carousel-control-prev-icon:before { display: none; }
.carousel-control-next-icon {
    background-image: none;
    -webkit-box-shadow: -2px 5px 17px 0 rgba(31,45,61,.1);
    box-shadow: 0px 0px 19px 3px rgba(31,45,61,.1);
    padding: 9px;
    height: 33px;
    width: 33px;
    position: relative;
    border-radius: 50px;
}
.carousel-control-next-icon svg {
    color: #4361ee;
    position: absolute;
    top: 4px;
    right: 0;
    left: -2px;
    margin-right: auto;
    margin-left: auto;
    width: 23px;
}
.carousel-control-next-icon:before { display: none; }


/*
    Mini Footer Wrapper
*/

#miniFooterWrapper {
    color: #fff;
    font-size: 14px;
    border-top: solid 1px #ffffff;
    padding: 14px;
    -webkit-box-shadow: 0px -1px 20px 0 rgba(31,45,61,.1);
    box-shadow: 0px -1px 20px 0 rgba(31,45,61,.1);
}
#miniFooterWrapper .arrow {
    background-color: #4361ee;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#miniFooterWrapper .arrow p {
    align-self: center;
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
#miniFooterWrapper .copyright a {
    color: #4361ee;
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 1600px) {
    .carousel-control-next, .carousel-control-prev { background: transparent; }
}
@media (max-width: 991px) {
    .carousel-control-next, .carousel-control-prev { display: none; }
}

@media (max-width: 767px) {
    .hd-contact-section .community-help .media { margin-bottom: 3px; }
}
@media (max-width: 575px) {
    .carousel-item-content { height: auto; }
}