﻿@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
    font-family: IRANSansNum !important;
    font-weight: 300;
    direction: rtl;
    background-color: #E2E2E2;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea ,p, span, ul, li, div, tr, td {
    font-family: IRANSansNum !important;
}
h1 {
    font-weight: bold;
}
