/*
    ===============================
    /|\                         /|\
    /|\                         /|\
    /|\    Analytics Section    /|\
    /|\                         /|\
    /|\                         /|\
    ===============================
*/
.layout-spacing {
    padding-bottom: 30px;
}
.widget {
    position: relative;
    padding: 0;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}

.layout-spacing {
    padding-bottom: 30px;
}
.widget {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background: #fff;
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    letter-spacing: 0px;
    font-size: 19px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget .widget-content {}


/*
    ==================
        Notification
    ==================
*/
.widget-card-four {
    padding: 25px 23px;
    background: #fff;
}
.widget-card-four .w-header {
    display: flex;
    justify-content: space-between;
}
.widget-card-four .w-header .w-info {
    align-self: center;
}
.widget-card-four .w-header .w-info h6 {
    font-weight: 600;
    margin-bottom: 0;
    color: #0e1726;
    font-size: 23px;
    letter-spacing: 0;
}
.widget-card-four .w-header .task-action svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-card-four .w-header .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-card-four .w-content {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}
.widget-card-four .w-content .w-info p.value {
    font-weight: 500;
    margin-bottom: 0;
    color: #e95f2b;
    font-size: 30px;
}
.widget-card-four .w-content .w-info p.value span {
    font-size: 15px;
    color: #030305;
    font-weight: 700;
    letter-spacing: 0;
}
.widget-card-four .w-content .w-info p.value svg {
    width: 16px;
    height: 16px;
    color: var(--accent-color);
    margin-top: 7px;
}
.widget-card-four .w-progress-stats {
    display: flex;
    margin-top: 36px;
}
.widget-card-four .w-icon {
    color: #5f0a87;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
}
.widget-card-four .progress {
    height: 8px;
    margin-bottom: 0;
    height: 20px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(224, 230, 237, 0.4588235294117647);
    width: 100%;
    align-self: flex-end;
    margin-left: 22px;
    background-color: rgb(246 112 98 / 14%);
}
.widget-card-four .progress-bar.bg-gradient-secondary {
    position: relative;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}
.widget-card-four .progress-bar:before {
    content: '';
    height: 6px;
    width: 6px;
    background: #fff;
    position: absolute;
    left: 3px;
    border-radius: 50%;
    top: 3px;
}
.widget-card-four .w-icon p {
    margin-bottom: 0;
    color: #e95f2b;
    font-size: 15px;
    font-weight: 700;
}

/*
    =====================
        User Analytics
    =====================
*/

.widget.widget-one {
    padding: 20px 18px 12px 18px;
    background: #fff;
}
.widget.widget-one .widget-heading h6 {
    color: #0e1726;
    margin-bottom: 30px;
    font-size: 17px;
    display: block;
    font-weight: 600;
}
.widget.widget-one .w-chart {
    display: flex;
}
.widget.widget-one .w-chart .w-chart-section {
    width: 49%;
    padding: 0 12px;
    background: #000;
    border-radius: 16px;
    padding: 15px;    
}
.widget.widget-one .w-chart .w-chart-section.total-visits-content {
    background-color: #e7f7ff;
}
.widget.widget-one .w-chart .w-chart-section.paid-visits-content {
    background-color: #fff9ed;
}
.widget.widget-one .w-chart .w-chart-section:not(:last-child) {
    margin-left: 10px;
}
.widget.widget-one .w-chart .w-chart-section .w-detail {
    color: #fff;
}
.widget.widget-one .w-chart .w-chart-section .w-title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    color: #4361ee;
}
.widget.widget-one .w-chart .w-chart-section .w-stats {
    color: #4361ee;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 500;
}
.widget.widget-one .w-chart .w-chart-section.paid-visits-content .w-title {
    color: #e95f2b;
}
.widget.widget-one .w-chart .w-chart-section.paid-visits-content .w-stats {
    color: #e95f2b;
}

/*
    =====================
        Unique Visitors
    =====================
*/

.widget.widget-chart-three {
    background: #fff;
    padding: 0;
}
.widget.widget-chart-three .widget-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #e0e6ed;
    padding: 20px 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.widget.widget-chart-three .widget-heading h5 {
    font-size: 17px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget.widget-chart-three .widget-heading .dropdown {
    align-self: center;
}
.widget.widget-chart-three .widget-heading .dropdown a svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget.widget-chart-three .widget-heading .dropdown .dropdown-menu {
    padding: 8px 8px;
    min-width: 10rem;
    border-radius: 6px;
    top: 5px !important;
}
.widget.widget-chart-three .apexcharts-legend-marker {
    right: -5px!important;
}

/*
    =========================
        Organic Vs Direct
    =========================
*/

/*
    ========================
        Recent Activities
    ========================
*/

.widget.widget-activity-three {
    position: relative;
    background: #fff;
    border-radius: 8px;
    height: 100%;
    padding: 0;
}
.widget.widget-activity-three .widget-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #e0e6ed;
    padding: 20px 20px;
    padding-bottom: 20px;
}
.widget.widget-activity-three .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-activity-three .widget-content {
    padding: 20px 20px 20px 10px
}
.widget-activity-three .mt-container {
    position: relative;
    height: 310px;
    overflow: auto;
    padding: 0 12px 0 12px;
}
.widget.widget-activity-three .timeline-line .item-timeline { display: flex;
    margin-bottom: 20px; }
.widget.widget-activity-three .timeline-line .item-timeline .t-dot { position: relative; }

.widget.widget-activity-three .timeline-line .item-timeline .t-dot div {
    border-radius: 50%;
    padding: 5px;
    margin-left: 11px;
    display: flex;
    height: 37px;
    justify-content: center;
    width: 36px;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot div.t-primary svg {
    color: #4361ee;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot div.t-success svg {
    color: var(--accent-color);
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot div.t-danger svg {
    color: #e7515a;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot div.t-warning svg {
    color: #e2a03f;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot div.t-dark svg {
    color: #3b3f5c;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot svg {
    color: #fff;
    height: 20px;
    width: 20px;
    stroke-width: 1.6px;
    align-self: center;
}

.widget.widget-activity-three .timeline-line .item-timeline .t-content {
    width: 100%;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-content .t-uppercontent {
    display: flex;
    justify-content: space-between;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-content .t-uppercontent h5 {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 5px;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-content .t-uppercontent span {
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 500;
    color:#0e1726;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-content p {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #888ea8;
}
.widget.widget-activity-three .timeline-line .item-timeline .t-dot:after {
    content: '';
    position: absolute;
    border-width: 1px;
    border-style: solid;
    right: 40%;
    transform: translateX(50%);
    border-color: #ebedf2;
    width: 0;
    height: auto;
    top: 36px;
    bottom: -20px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}
.widget.widget-activity-three .timeline-line .item-timeline:last-child .t-dot:after { display: none; }

/*
    ==================
        Statistics
    ==================
*/

.widget-one_hybrid {
    background: #fff;
    padding: 0;
}
.widget-one_hybrid .widget-heading {
    padding: 20px 13px;
}
.widget-one_hybrid .widget-heading .w-title {
    display: flex;
    margin-bottom: 15px;
}
.widget-one_hybrid .widget-heading .w-icon {
    display: inline-block;
    align-self: center;
    padding: 10px;
    border-radius: 12px;
    margin-left: 16px;
}
.widget-one_hybrid .widget-heading svg {
    width: 22px;
    height: 22px;
}
.widget-one_hybrid .widget-heading .w-value {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    align-self: center;
}
.widget-one_hybrid .widget-heading h5 {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: #506690;
}
.widget-one_hybrid .apexcharts-canvas svg {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.widget-one_hybrid.widget-followers .widget-heading .w-icon {
    color: #4361ee;
    background: #eaf1ff;
}
.widget-one_hybrid.widget-referral .widget-heading .w-icon {
    color: #e7515a;
    background-color: #fff5f5;
}
.widget-one_hybrid.widget-social {
    background: #e7f7ff;
    background: #4361ee;
}
.widget-one_hybrid.widget-social .widget-heading .w-icon {
    color: #2196f3;
    border: 1px solid #2196f3;
}
.widget-one_hybrid.widget-engagement .widget-heading .w-icon {
    background-color: #ddf5f0;
    color: var(--accent-color);
}

/*
    ==================
        Balance
    ==================
*/

.widget.widget-account-invoice-two {
    padding: 22px 19px;
    border: none;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    background: #1b2e4b;
      background-image: linear-gradient(to right, #09203f 0%, #537895 220%); }
.widget-account-invoice-two .account-box .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}
.widget-account-invoice-two .account-box h5 {
    color: #e0e6ed;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.widget-account-invoice-two .account-box .inv-balance-info {
    text-align: left;
}
.widget-account-invoice-two .account-box p {
    color: #e0e6ed;
    font-weight: 400;
    margin-bottom: 4px;
    align-self: center;
    font-size: 20px;
}
 .widget-account-invoice-two .account-box .inv-stats {
    display: inline-block;
    padding: 3px 5px;
    background: #4361ee;
      color: #d3d3d3;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px; }
.widget-account-invoice-two .account-box .acc-action {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-two .account-box .acc-action a {
    display: inline-block;
    padding: 6px;
    border-radius: 6px;
    color: #e0e6ed;
    box-shadow: 0px 0px 2px 0px #bfc9d4;
}
.widget-account-invoice-two .account-box .acc-action a:first-child {
    margin-left: 4px;
}
.widget-account-invoice-two .account-box .acc-action a svg {
    width: 17px;
    height: 17px;
    stroke-width: 1.7;
}

/*
    =====================
        Account Info
    =====================
*/

.widget-account-invoice-three {
    padding: 0!important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #fdfdfd;
}
.widget-account-invoice-three .widget-heading {
    padding: 24px 30px 63px 30px;
    border-radius: 15px;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #4361ee 74%);
    min-height: 213px;
    height: 100%;
    
}
.widget-account-invoice-three .widget-heading .wallet-usr-info {
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-three .widget-heading .wallet-usr-info span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 5px 6px 5px 12px;
    border-radius: 21px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.widget-account-invoice-three .widget-heading .add {
    align-self: center;
}
.widget-account-invoice-three .widget-heading .add span {
    padding: 6px;
    border-radius: 12px;
}
.widget-account-invoice-three .widget-heading span img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 18%);
}
.widget-account-invoice-three .widget-heading .wallet-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.widget-account-invoice-three .widget-heading .wallet-balance p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-account-invoice-three .widget-heading h5 {
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}
.widget-account-invoice-three .widget-heading h5 .w-currency {
    color: #bfc9d4;
    display: inline-block;
}
.widget-account-invoice-three .widget-amount {
    text-align: center;
    margin-top: -48px;
}
.widget-account-invoice-three .widget-amount .w-a-info {
    display: inline-block;
    padding: 12px 23px;
    background: #fff;
    text-align: right;
    border-radius: 6px;
    width: 40%;
    -webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.06);
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received {
    margin-left: 15px;
}
.widget-account-invoice-three .widget-amount span {
    font-weight: 600;
    color: #151516;
}
.widget-account-invoice-three .widget-amount .w-a-info svg {
    width: 18px;
    height: 18px;
    float: left;
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-received svg {
    vertical-align: top;
    color: var(--accent-color);
}
.widget-account-invoice-three .widget-amount .w-a-info.funds-spent svg {
    vertical-align: bottom;
    color: #e7515a;
}
.widget-account-invoice-three .widget-amount p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    background: #ebedf2;
    border-radius: 6px;
    margin-top: 10px;
    padding: 3px 0;
    color: #515365;
}
.widget-account-invoice-three .widget-content {
    padding: 20px;
    margin-top: 12px;
}
.widget-account-invoice-three .widget-content .bills-stats {
    margin-bottom: 24px;
}
.widget-account-invoice-three .widget-content .bills-stats span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 4px 20px 4px 12px;
    border-radius: 21px;
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #1b2e4b;
}
.widget-account-invoice-three .widget-content .bills-stats span:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background: white;
    border-radius: 50%;
    right: 9px;
    top: 9.5px;
}
.widget-account-invoice-three .invoice-list .inv-detail {
    margin-bottom: 24px;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) {
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
    align-self: center;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.w-currency {
    font-size: 16px;
    color: #888ea8;
    font-weight: 500;
}
.widget-account-invoice-three .invoice-list [class*="info-detail-"]:not(.info-sub) p span.bill-amount {
    font-size: 14px;
    color: #030305;
    font-weight: 700;
}
.widget-account-invoice-three .invoice-list .inv-action {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.widget-account-invoice-three .invoice-list .inv-action a {
    transform: none;
    border: none;
    font-size: 13px;
    padding: 6px 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.widget-account-invoice-three .invoice-list .inv-action a.view-details {
    color: #805dca!important;
    background: rgb(92 26 195 / 17%);
    border: none!important;
}
.widget-account-invoice-three .invoice-list .inv-action a.pay-now {
    color: var(--accent-color)!important;
    background: var(--accent-color)30;
    border: none!important;
}

/*
    ==================
        Statistics
    ==================
*/
.widget-card-one {
    background: #fff;
    padding: 20px 0;
    height: 100%;
}
.widget-card-one .widget-content .media {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 19px;
    padding-bottom: 21px;
    border-bottom: 1px dashed #e0e6ed;
}
.widget-card-one .widget-content .media .w-img {
    margin-left: 10px;
    align-self: center;
}
.widget-card-one .widget-content .media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #e0e6ed;
}
.widget-card-one .widget-content .media-body {
    align-self: center;
}
.widget-card-one .widget-content .media-body h6 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0;
    margin-bottom: 0;
}
.widget-card-one .widget-content .media-body p {
    font-size: 13px;
    letter-spacing: 0px;
    margin-bottom: 0;
    font-weight: 600;
    color: #888ea8;
    padding: 0;
}
.widget-card-one .widget-content p {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 36px;
    padding: 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
}
.widget-card-one .widget-content .w-action {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.widget-card-one .widget-content .w-action svg {
    color: #2196f3;
    fill: #e7f7ff;
    margin-left: 8px;
    stroke-width: 1.5;
}
.widget-card-one .widget-content .w-action span {
    vertical-align: sub;
    font-weight: 700;
    color: #0e1726;
    letter-spacing: 1px;
}
.widget-card-one .widget-content .w-action .read-more {
    align-self: center;
}
.widget-card-one .widget-content .w-action .read-more a {
    display: inline-block;
    padding: 3px 5px;
    background: rgb(0 150 136 / 26%);
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
}
.widget-card-one .widget-content .w-action .read-more a svg {
    margin-left: 0;
    color: var(--accent-color);
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke-width: 1.8;
    transition: .5s;
}
.widget-card-one .widget-content .w-action .read-more a:hover {
    box-shadow: 0 0 30px rgb(224 240 239);
}

/*
    ====================
        Visitors by Browser
    ====================
*/

.widget-four {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: none;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}
.widget-four .widget-heading {
    margin-bottom: 54px;
}
.widget-four .widget-heading h5 {
    font-size: 17px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-four .widget-content {
    font-size: 17px;
}
.widget-four .widget-content .browser-list {
    display: flex;
}
.widget-four .widget-content .browser-list:not(:last-child) {
    margin-bottom: 30px;
}
.widget-four .widget-content .w-icon {
    display: inline-block;
    padding: 10px 9px;
    border-radius: 50%;
    display: inline-flex;
    align-self: center;
    height: 34px;
    width: 34px;
    margin-left: 12px;
}
.widget-four .widget-content .w-icon svg {
    display: block;
    width: 15px;
    height: 15px;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon {
    background: #eaf1ff;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon {
    background: #fff5f5;
}
.widget-four .widget-content .browser-list:nth-child(3) .w-icon {
    background: #fff9ed ;
}
.widget-four .widget-content .browser-list:nth-child(1) .w-icon svg {
    color: #4361ee;
}
.widget-four .widget-content .browser-list:nth-child(2) .w-icon svg {
    color: #e7515a;
}
.widget-four .widget-content .browser-list:nth-child(3) .w-icon svg {
    color: #e2a03f;
}
.widget-four .widget-content .w-browser-details {
    width: 100%;
    align-self: center;
}
.widget-four .widget-content .w-browser-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.widget-four .widget-content .w-browser-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-four .widget-content .w-browser-info p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-four .widget-content .w-browser-stats .progress {
    margin-bottom: 0;
    height: 22px;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(224, 230, 237, 0.4588235294117647), 1px 6px 7px rgba(224, 230, 237, 0.4588235294117647);
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar {
    position: relative;
}
.progress .progress-bar.bg-gradient-primary {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.progress .progress-bar.bg-gradient-danger {
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}
.progress .progress-bar.bg-gradient-warning {
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
.widget-four .widget-content .w-browser-stats .progress .progress-bar:before {
    content: '';
    height: 7px;
    width: 7px;
    background: #fff;
    position: absolute;
    left: 3px;
    border-radius: 50%;
    top: 3.4px;
}
/*
    ==================
        Dev Summit
    ==================
*/
.widget-card-two {
    background: #fff;
    padding: 20px 0px;
}
.widget-card-two .media {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 19px;
    padding-bottom: 21px;
    border-bottom: 1px dashed #e0e6ed;
}
.widget-card-two .media .w-img {
    margin-left: 10px;
}
.widget-card-two .media .w-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #e0e6ed;
}
.widget-card-two .media .media-body {
    align-self: center;
}
.widget-card-two .media .media-body h6 {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0;
    margin-bottom: 0;
}
.widget-card-two .media .media-body p {
    margin-bottom: 0;
    font-weight: 600;
    color: #888ea8;
}
.widget-card-two .card-bottom-section {
    text-align: center;
}
.widget-card-two .card-bottom-section h5 {
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 20px;
}
.widget-card-two .card-bottom-section .img-group img {
    width: 46px;
    height: 46px;
    border-radius: 12px;
    border: 2px solid #e0e6ed;
}
.widget-card-two .card-bottom-section .img-group img:not(:last-child) {
    margin-left: 5px;    
}
.widget-card-two .card-bottom-section a {
    display: block;
    margin-top: 18px;
    background: #4361ee;
    color: #fff;
    padding: 10px 10px;
    transform: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background-image: linear-gradient(315deg, #1e9afe 0%, #60dfcd 74%);
}
.widget-card-two .card-bottom-section a.btn:hover,
.widget-card-two .card-bottom-section a.btn:focus  {
    border-color: #4361ee;
}

/*
    =====================
        Task Indicator
    =====================
*/
body.minimal .widget-five {
    padding: 28px 0 0 0;
}
.widget-five {
    background: #fff;
    padding: 28px 0 0 0;
    height: 100%;
}
.widget-five .widget-content .header {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 23px;
    border-bottom: 1px dashed #e0e6ed;
}
.widget-five .widget-content .header-body {
    align-self: center;
}
.widget-five .widget-content .header-body h6 {
    font-size: 19px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-five .widget-content .header-body p {
    margin-bottom: 0;
    font-weight: 600;
    color: #888ea8;
    padding: 0;
}
.widget-five .widget-content .task-action {
    display: flex;
}
.widget-five .widget-content .task-action .dropdown {
    align-self: center;
}
.widget-five .widget-content .task-action .dropdown a.dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-five .w-content {
    text-align: center;
    height: 100%;
    padding: 20px 26px;
}
.widget-five .w-content div .task-left {
    margin-bottom: 0;
    font-size: 30px;
    color: #805dca;
    background: #f3effc;
    font-weight: 600;
    border-radius: 12px;
    display: inline-flex;
    height: 76px;
    width: 76px;
    justify-content: center;
    align-self: center;
    padding: 16px 0px;
    border: 1px solid #ebedf2;
    margin-bottom: 20px;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}
.widget-five .w-content div .task-completed {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    color: var(--accent-color);
}
.widget-five .w-content div .task-hight-priority {
    color: #bfc9d4;
    font-weight: 500;
    margin-bottom: 0;
}
.widget-five .w-content div .task-hight-priority span {
    color: #e7515a;
    font-weight: 700;
}


/*
    =====================
        Task Indicator
    =====================
*/
.widget.widget-six {
    background: #fff;
    padding: 20px 0px;
    height: 100%;
}

.widget-six .widget-heading {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 30px;
}
.widget-six .widget-heading .task-info {
    display: flex;
}
.widget-six .widget-heading .usr-avatar {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background-color: #f3effc;
    color: #805dca;
}
.widget-six .widget-heading .usr-avatar span {
    font-size: 13px;
    font-weight: 700;
}

.widget-six .widget-heading .w-title {
    align-self: center;
}
.widget-six .widget-heading .w-title h5 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.widget-six .widget-heading .w-title span {
    font-size: 12px;
    font-weight: 500;
}
.widget-six .widget-heading .task-action .dropdown a svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-six .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-six .widget-content {
    padding: 0 20px;
}
.widget-six .widget-content p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: #888ea8;
}
.widget-six .widget-content .progress-data {
    margin-top: 19px;
}
.widget-six .widget-content .progress-data .progress-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.widget-six .widget-content .progress-data .task-count {
    display: flex;
}
.widget-six .widget-content .progress-data .task-count svg {
    align-self: center;
    margin-left: 6px;
    width: 15px;
    height: 15px;
    color: var(--accent-color);
    fill: rgb(199 230 228 / 46%);
}
.widget-six .widget-content .progress-data .task-count p {
    align-self: center;
    font-weight: 700;
    font-size: 12px;
    color: #515365;
}
.widget-six .widget-content .progress-data .progress-stats p {
    font-weight: 600;
    color: #4361ee;
    font-size: 15px;
}
.widget-six .widget-content .progress-data .progress {
    border-radius: 30px;
    height: 12px;
}
.widget-six .widget-content .progress-data .progress .progress-bar {
    margin: 3px;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
.widget-six .widget-content .meta-info {
    display: flex;
    justify-content: space-between;
}
.widget-six .widget-content .meta-info .avatar--group {
    display: inline-flex;
}
.widget-six .widget-content .meta-info .avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    transition: .5s;
}
.widget-six .widget-content .meta-info .avatar.more-group {
    margin-left: 5px;
    opacity: 0;
}
.widget-six:hover .widget-content .meta-info .avatar.more-group {
    opacity: 1;
}
.widget-six:hover .widget-content .meta-info .avatar:not(:first-child) {
    margin-right: -.75rem;
}
.widget-six .widget-content .meta-info .avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 12px;
}
.widget-six .widget-content .meta-info .avatar .avatar-title {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #bfc9d4;
    color: #fff;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
}
.widget-six .widget-content .meta-info .due-time {
    align-self: center;
}
.widget-six .widget-content .meta-info .due-time p svg {
    width: 14px;
    height: 15px;
    vertical-align: text-bottom;
}
.widget-six .widget-content .meta-info .due-time p {
    font-weight: 600;
    font-size: 11px;
    padding: 4px 6px 4px 6px;
    background: #fff5f5;
    border-radius: 30px;
    color: #e7515a;
}


/*
    ========================
        Recent Activities
    ========================
*/

.widget.widget-activity-five {
    position: relative;
    background: #fff;
    border-radius: 8px;
    height: 100%;
    padding: 0;
}
.widget.widget-activity-five .widget-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #e0e6ed;
    padding: 20px 20px;
    padding-bottom: 20px;
}
.widget.widget-activity-five .widget-heading h5 {
    font-size: 17px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget.widget-activity-five .widget-heading .task-action svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget.widget-activity-five .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-activity-five .widget-content {
    padding: 12px 20px 21px 10px
}
.widget-activity-five .w-shadow-top {
    display: block;
    position: absolute;
    z-index: 2;
    height: 17px;
    width: 97%;
    pointer-events: none;
    margin-top: -10px;
    right: 2px;
    -webkit-filter: blur(9px);
    filter: blur(9px);
    background: -webkit-linear-gradient(180deg,#060818 56%,#060818eb 73%,#2C303C00);
    background: linear-gradient(180deg,#ffffff 56%,#ffffffde 73%,#2C303C00);
}
.widget-activity-five .w-shadow-bottom {
    display: block;
    position: absolute;
    z-index: 2;
    height: 17px;
    width: 97%;
    pointer-events: none;
    margin-top: -3px;
    right: 2px;
    -webkit-filter: blur(9px);
    filter: blur(9px);
    background: -webkit-linear-gradient(180deg,#ffffff 56%,#ffffffde 73%,#2C303C00);
    background: linear-gradient(180deg,#ffffff 56%,#ffffffde 73%,#2C303C00);
}
.widget-activity-five .mt-container {
    position: relative;
    height: 207px;
    overflow: auto;
    padding: 15px 12px 0 12px;
}
.widget-activity-five .timeline-line .item-timeline { display: flex;
    margin-bottom: 35px; }
.widget-activity-five .timeline-line .item-timeline .t-dot { position: relative; }

.widget-activity-five .timeline-line .item-timeline .t-dot div {
    background: transparent;
    border-radius: 50%;
    padding: 5px;
    margin-left: 11px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-primary {
    background-color: rgb(194 213 255 / 50%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-primary svg {
    color: #4361ee;
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-secondary {
    background-color: rgb(220 207 247 / 55%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-secondary svg {
    color: #805dca;
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-success {
    background-color: rgb(199 230 228 / 62%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-success svg {
    color: var(--accent-color);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-danger {
    background-color: rgb(255 225 226 / 60%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-danger svg {
    color: #e7515a;
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-warning {
    background-color: rgb(255 236 203 / 51%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-warning svg {
    color: #e2a03f;
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-dark {
    background-color: rgb(172 176 195 / 51%);
}
.widget-activity-five .timeline-line .item-timeline .t-dot div.t-dark svg {
    color: #3b3f5c;
}
.widget-activity-five .timeline-line .item-timeline .t-dot svg {
    color: #fff;
    height: 15px;
    width: 15px;
    align-self: center;
}
.widget-activity-five .timeline-line .item-timeline .t-content {
    width: 100%;
}
.widget-activity-five .timeline-line .item-timeline .t-content .t-uppercontent {
    display: flex;
    justify-content: space-between;
}
.widget-activity-five .timeline-line .item-timeline .t-content .t-uppercontent h5 {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-activity-five .timeline-line .item-timeline .t-content .t-uppercontent span {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: var(--accent-color);
}
.widget-activity-five .timeline-line .item-timeline .t-content p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    color: #888ea8;
}
.widget-activity-five .timeline-line .item-timeline .t-content p a {
    font-weight: 700;
}
.widget-activity-five .timeline-line .item-timeline .t-dot:after {
    content: '';
    position: absolute;
    border-width: 1px;
    border-style: solid;
    right: 39%;
    transform: translateX(50%);
    border-color: #bfc9d4;
    width: 0;
    height: auto;
    top: 45px;
    bottom: -23px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}
.widget-activity-five .timeline-line .item-timeline:last-child .t-dot:after { display: none; }


/*
    ====================
        Order Summary
    ====================
*/

.widget-seven {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    border: 1px solid #f1f2f3;
}

.widget-seven .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-seven .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-seven .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-seven .widget-content {
    font-size: 17px;
}
.widget-seven .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}
.widget-seven .widget-content .summary-list.summary-income {
    background: rgb(220 207 247 / 34%);
}
.widget-seven .widget-content .summary-list.summary-profit {
    background: rgb(186 231 255 / 34%);
}
.widget-seven .widget-content .summary-list.summary-expenses {
    background: rgb(255 236 203 / 34%);
}
.widget-seven .widget-content .summary-list .summery-info {
    display: flex;
    margin-bottom: 0;
}
.widget-seven .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}
.widget-seven .widget-content .w-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-left: 12px;
}
.widget-seven .widget-content .w-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}
.widget-seven .widget-content .summary-list:nth-child(1) .w-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}
.widget-seven .widget-content .summary-list:nth-child(2) .w-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}
.widget-seven .widget-content .summary-list:nth-child(3) .w-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}
.widget-seven .widget-content .w-summary-details {
    width: 100%;
    align-self: center;
}
.widget-seven .widget-content .w-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.widget-seven .widget-content .w-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-seven .widget-content .w-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}
.widget-seven .widget-content .w-summary-info .summary-average {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-seven .widget-content .summary-list.summary-income .w-summary-info .summary-average {
    color: #805dca;
}
.widget-seven .widget-content .summary-list.summary-profit .w-summary-info .summary-average {
    color: #2196f3;
}
.widget-seven .widget-content .summary-list.summary-expenses .w-summary-info .summary-average {
    color: #e2a03f;
}

/*
    =====================
        Media Query
    =====================
*/

@media (max-width: 1600px) {
    .widget.widget-activity-two .widget-heading {
        margin-bottom: 21px;
    }    
    .widget-activity-two .mt-container {
        position: relative;
        height: 177px;
    }
}
@media (max-width: 575px) {
    .widget-card-four .w-content-img img {
        height: 94px;
    }
    .widget-notification-one .noti-action a span {
        display: none;
    }
    .widget-statistic .col-12:not(:last-child) .widget-one_hybrid {
        margin-bottom: 40px
    }
}



/*
    ===========================
    /|\                     /|\
    /|\                     /|\
    /|\    Sales Section    /|\
    /|\                     /|\
    /|\                     /|\
    ===========================
*/




/*
    ==================
        Total Sales
    ==================
*/

.widget-two {
    position: relative;
    background: #fff;
    padding: 0;
    border-radius: 8px;
    height: 100%;
    box-shadow: none;
    border: 1px solid #f1f2f3;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}
.widget-two .widget-content {
    font-size: 17px;
}
.widget-two .w-chart {
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.widget-two .w-numeric-value {
    display: flex;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    justify-content: space-between;
}
.widget-two .w-numeric-value .w-icon {
    display: inline-block;
    background: #e7f7ff;
    padding: 13px 12px;
    border-radius: 12px;
    display: inline-flex;
    align-self: center;
    height: 45px;
    width: 45px;
}
.widget-two .w-numeric-value svg {
    display: block;
    color: #2196f3;
    width: 20px;
    height: 20px;
}
.widget-two .w-numeric-value .w-value {
    margin-bottom: -9px;
    letter-spacing: 0px;
    font-size: 19px;
    display: block;
    color: #0e1726;
    font-weight: 600;
}
.widget-two .w-numeric-value .w-numeric-title {
    font-size: 13px;
    color: #888ea8;
    font-weight: 600;
}

/*
    ==================
        Widget
    ==================
*/

.widget-one {
    position: relative;
    padding: 0;
    border-radius: 8px;
    height: 100%;
    border: none;
    background-color: #fff;
}
.widget-one .widget-content {
    font-size: 17px;
}
.widget-one .w-numeric-value {
    position: absolute;
    display: flex;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}
.widget-one .w-numeric-value .w-icon {
    display: inline-block;
    background: #fff5f5;
    padding: 13px 12px;
    border-radius: 12px;
    display: inline-flex;
    align-self: center;
    height: 45px;
    width: 45px;
    margin-left: 14px;
}
.widget-one .w-numeric-value svg {
    display: block;
    color: #e7515a;
    width: 20px;
    height: 20px;
    fill: rgb(231 81 90 / 49%)
}
.widget-one .w-numeric-value .w-value {
    font-size: 26px;
    display: block;
    color: #e7515a;
    font-weight: 600;
    margin-bottom: -9px;
    text-align: left;
}
.widget-one .w-numeric-value .w-numeric-title {
    font-size: 13px;
    color: #e7515a;
    letter-spacing: 1px;
    font-weight: 600;
}
.widget-one .apexcharts-canvas svg {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/*
    ====================
        Order Summary
    ====================
*/

.widget-three {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}
body.minimal .widget-three {
    border: 1px solid #e0e6ed!important;
    box-shadow: none;
}
.widget-three .widget-heading {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}
.widget-three .widget-heading h5 {
    font-size: 19px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-three .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-three .widget-content {
    font-size: 17px;
}
.widget-three .widget-content .summary-list {
    display: flex;
}
.widget-three .widget-content .summary-list:not(:last-child) {
    margin-bottom: 30px;
}
.widget-three .widget-content .w-icon {
    display: inline-block;
    padding: 8px 8px;
    border-radius: 50%;
    display: inline-flex;
    align-self: center;
    height: 34px;
    width: 34px;
    margin-left: 12px;
}
.widget-three .widget-content .w-icon svg {
    display: block;
    width: 17px;
    height: 17px;
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon {
    background: rgb(220 207 247 / 55%);
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon {
    background: rgb(199 230 228 / 62%);
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon {
    background: rgb(255 236 203 / 51%);
}
.widget-three .widget-content .summary-list:nth-child(1) .w-icon svg {
    color: #805dca;
}
.widget-three .widget-content .summary-list:nth-child(2) .w-icon svg {
    color: var(--accent-color);
}
.widget-three .widget-content .summary-list:nth-child(3) .w-icon svg {
    color: #e2a03f;
}
.widget-three .widget-content .w-summary-details {
    width: 100%;
    align-self: center;
}
.widget-three .widget-content .w-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.widget-three .widget-content .w-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-three .widget-content .w-summary-info p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-three .widget-content .w-summary-stats .progress {
    margin-bottom: 0;
    height: 6px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(224, 230, 237, 0.4588235294117647), 1px 6px 7px rgba(224, 230, 237, 0.4588235294117647);
}
.widget-three .widget-content .w-summary-stats .progress .progress-bar.bg-gradient-secondary {
    background-color: #4361ee;
    background-image: linear-gradient(to left, #BA68C8 0%, #7579ff 100%);
}
.widget-three .widget-content .w-summary-stats .progress .progress-bar.bg-gradient-success {
    background-color: #4361ee;
    background-image: linear-gradient(to left, var(--accent-color) 0%, #25d5e4 100%);
}
.widget-three .widget-content .w-summary-stats .progress .progress-bar.bg-gradient-warning {
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}

/*
    ==================
        Revenue
    ==================
*/
.widget-chart-one .widget-heading {
    display: flex;
    justify-content: space-between;
}
.widget-chart-one #revenueMonthly {
    background: rgba(243, 239, 252, 0.34);
    padding: 15px;
    border-radius: 22px;
    overflow: hidden;
    border: 1px solid #ebedf2;
}
.widget-chart-one .widget-content .apexcharts-canvas {
    transition: .5s;
}
.widget-chart-one .widget-content .apexcharts-canvas svg {
    transition: .5s;
}
.widget-chart-one .apexcharts-legend-marker {
    right: -5px!important;
}
.widget-chart-one .apexcharts-yaxis-title {
    font-weight: 600;
    fill: #888e88;
}
.widget-chart-one .apexcharts-xaxis-title {
    font-weight: 600;
    fill: #888e88;
}
.widget-chart-one .widget-heading .task-action svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-chart-one .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}

/*
    =======================
        Sold By cateory
    =======================
*/

.widget-chart-two {
    padding: 0!important;
}
.widget.widget-chart-two .widget-heading {
    padding: 20px 20px 0 20px;
}
.widget.widget-chart-two .widget-content {
    padding: 0 0 20px 0;
}
.widget-chart-two .apexcharts-canvas {
    margin: 0 auto;
}
.widget-chart-two .apexcharts-legend-marker {
    right: -5px!important;
}


/*
    ==================
        Transaction
    ==================
*/

.widget-table-one .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-table-one .widget-heading .task-action .dropdown-toggle svg {
    color: #888ea8;
    width: 19px;
    height: 19px;
}
.widget-table-one .widget-heading .task-action .dropdown-menu {
    transform: translate3d(-141px, 0, 0px);
}
.widget-table-one .transactions-list {
    border-radius: 6px;
}
.widget-table-one .transactions-list:not(:last-child) {
    margin-bottom: 19px;
}
.widget-table-one .transactions-list .t-item {
    display: flex;
    justify-content: space-between;
}
.widget-table-one .transactions-list .t-item .t-company-name {
    display: flex;
}
.widget-table-one .transactions-list .t-item .t-icon {
    margin-left: 12px;
}
.widget-table-one .transactions-list .t-item .t-icon .avatar {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;   
}
.widget-table-one .transactions-list .t-item .t-icon .avatar .avatar-title {
    background-color: #fff5f5;
    color: #e7515a;
    border-radius: 12px;
    position: relative;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
}
.widget-table-one .transactions-list.t-info .t-item .t-icon .avatar .avatar-title {
    background-color: #e7f7ff;
    color: #2196f3;
}
.widget-table-one .transactions-list.t-secondary .t-item .t-icon .icon {
    background-color: #f3effc;
}
.widget-table-one .transactions-list.t-secondary .t-item .t-icon .icon svg {
    color: #805dca;
}
.widget-table-one .transactions-list .t-item .t-icon .icon {
    position: relative;
    background-color: #fff9ed;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
}
.widget-table-one .transactions-list .t-item .t-icon .icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    color: #e2a03f;
    stroke-width: 2;
}
.widget-table-one .transactions-list .t-item .t-name {
    align-self: center;
}
.widget-table-one .transactions-list .t-item .t-name h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    transition: all 0.5s ease;
}
.widget-table-one .transactions-list:hover .t-item .t-name h4 {
    color: #2196f3;
}
.widget-table-one .transactions-list .t-item .t-name .meta-date {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    color: #888ea8;
}
.widget-table-one .transactions-list .t-item .t-rate {
    align-self: center;
}
.widget-table-one .transactions-list .t-item .t-rate p {
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.widget-table-one .transactions-list .t-item .t-rate svg {
    width: 14px;
    height: 14px;
    vertical-align: baseline;
}
.widget-table-one .transactions-list .t-item .t-rate.rate-inc p {
    color: var(--accent-color);
}
.widget-table-one .transactions-list .t-item .t-rate.rate-dec p {
    color: #e7515a;
}

/*
    ========================
        Recent Activities
    ========================
*/
.widget-activity-four {
    padding-left: 0;
    padding-right: 0;
}
.widget-activity-four .widget-heading {
    margin-bottom: 28px;
    padding: 0 20px;
}
.widget-activity-four .widget-heading .w-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}
.widget-activity-four .widget-heading .w-icon a {
    padding: 6px;
    border-radius: 10px;
    padding: 6px;
    background: #c7e6e4 !important;
    border: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.widget-activity-four .widget-heading .w-icon a svg {
    color: var(--accent-color);
    transform: rotate(180deg);
}
.widget-activity-four .mt-container {
    position: relative;
    height: 326px;
    overflow: auto;
    padding-left: 12px;    
}
.widget-activity-four .widget-content {
    padding: 0 20px 0 8px;
}
.widget-activity-four .timeline-line .item-timeline { 
    display: flex;
    width: 100%;
    padding: 8px 0;
    transition: .5s;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}
.widget-activity-four .timeline-line .item-timeline .t-dot { position: relative; }
.widget-activity-four .timeline-line .item-timeline .t-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 7px;
    right: 5px;
    transform: translateX(50%); 
    border-color: #e0e6ed;
    background: #bfc9d4;
    z-index: 1;
}
.widget-activity-four .timeline-line .item-timeline .t-dot:after {
    position: absolute;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    right: 5px;
    transform: translateX(50%);
    border-color: #e0e6ed;
    width: 0;
    height: auto;
    top: 12px;
    bottom: -19px;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0;
}
.widget-activity-four .timeline-line .item-timeline.timeline-primary .t-dot:before {
    background: #eaf1ff;
    border: 2px solid rgb(27 85 226 / 33%);
}
.widget-activity-four .timeline-line .item-timeline.timeline-success .t-dot:before {
    background-color: #ddf5f0;
    border: 2px solid rgb(154, 210, 205);
}
.widget-activity-four .timeline-line .item-timeline.timeline-danger .t-dot:before {
    background-color: #fff5f5;
    border: 2px solid rgb(241, 172, 176);
}
.widget-activity-four .timeline-line .item-timeline.timeline-dark .t-dot:before {
    background-color: #e3e4eb;
    border: 2px solid rgb(159, 163, 187);
}
.widget-activity-four .timeline-line .item-timeline.timeline-secondary .t-dot:before {
    background: #f3effc;
    border: 2px solid rgb(92 26 195 / 35%);    
}
.widget-activity-four .timeline-line .item-timeline.timeline-warning .t-dot:before {
    background-color: #fff9ed;
    border: 2px solid rgb(222, 199, 165);
}
.widget-activity-four .timeline-line .item-timeline:last-child .t-dot:after { display: none; }
.widget-activity-four .timeline-line .item-timeline .t-meta-time {
    margin: 0;
    min-width: 100px;
    max-width: 100px;
    font-size: 12px;
    font-weight: 700;
    color: #888ea8;
    align-self: center;
}
.widget-activity-four .timeline-line .item-timeline .t-text {
    align-self: center;
    margin-right: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: .5s;
}
.widget-activity-four .timeline-line .item-timeline .t-text p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0;
}
.widget-activity-four .timeline-line .item-timeline .t-text p a {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    color: var(--accent-color);
}
.widget-activity-four .timeline-line .item-timeline .t-text span.badge {
    position: absolute;
    left: -1px;
    padding: 2px 4px;
    font-size: 10px;
    letter-spacing: 1px;
    opacity: 0;
    font-weight: 600;
    transform: none;
    top: 6px;
}
.widget-activity-four .timeline-line .item-timeline.timeline-primary .t-text span.badge {
    color: #4361ee;
    border: 1px solid #4361ee;
    background-color: #eaf1ff;
}
.widget-activity-four .timeline-line .item-timeline.timeline-secondary .t-text span.badge {
    color: #805dca;
    border: 1px solid #805dca;
    background-color: #f3effc;
}
.widget-activity-four .timeline-line .item-timeline.timeline-danger .t-text span.badge {
    color: #e7515a;
    border: 1px solid #e7515a;
    background-color: #fff5f5;
}
.widget-activity-four .timeline-line .item-timeline.timeline-warning .t-text span.badge {
    color: #e2a03f;
    border: 1px solid #e2a03f;
    background-color: #fff9ed;
}
.widget-activity-four .timeline-line .item-timeline.timeline-success .t-text span.badge {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-color: #ddf5f0;
}
.widget-activity-four .timeline-line .item-timeline.timeline-dark .t-text span.badge {
    color: #3b3f5c;
    border: 1px solid #3b3f5c;
    background-color: #e3e4eb;
}
.widget-activity-four .timeline-line .item-timeline:hover .t-text span.badge {
    opacity: 1;
}
.widget-activity-four .timeline-line .item-timeline .t-text p.t-time {
    text-align: left;
    color: #888ea8;
    font-size: 10px;
}
.widget-activity-four .timeline-line .item-timeline .t-time {
    margin: 0;
    min-width: 80px;
    max-width: 80px;
    font-size: 13px;
    font-weight: 600; 
    color: #e3e4eb;
    letter-spacing: 1px;
}
.widget-activity-four .tm-action-btn {
    text-align: center;
    padding-top: 19px;
}
.widget-activity-four .tm-action-btn button {
    background: transparent;
    box-shadow: none;
    padding: 0;
    color: #030305;
    font-weight: 800;
    letter-spacing: 0;
    border: none;
    font-size: 14px;
}
.widget-activity-four .tm-action-btn button:hover {
    transform: translateY(0);
}
.widget-activity-four .tm-action-btn button span {
    margin-left: 6px;
    display: inline-block;
    transition: .5s;
}
.widget-activity-four .tm-action-btn button:hover span {
    transform: translateX(6px);
}
.widget-activity-four .tm-action-btn svg {
    width: 17px;
    height: 17px;
    vertical-align: sub;
    color: #e3e4eb;
    stroke-width: 2.5px;
    transition: .5s;
}
.widget-activity-four .tm-action-btn button:hover svg {
    transform: translateX(-6px);
}


/*
    =====================
        Account Info
    =====================
*/

.widget-account-invoice-one .invoice-box {}
.widget-account-invoice-one .invoice-box .acc-total-info {
    padding: 0 0;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #bfc9d4;
}
.widget-account-invoice-one .invoice-box h5 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #4361ee;
}
.widget-account-invoice-one .invoice-box .acc-amount {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--accent-color);
}
.widget-account-invoice-one .invoice-box .inv-detail {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px dashed #bfc9d4;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"]:not(.info-sub) {
    display: flex;
    justify-content: space-between;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"]:not(.info-sub) p {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 14px;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"].info-sub .info-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"].info-sub .info-detail p {
    margin-bottom: 0;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"].info-sub .info-detail-sub {
    margin-right: 9px;
}
.widget-account-invoice-one .invoice-box [class*="info-detail-"].info-sub .info-detail-sub p {
    color: #888ea8;
    margin-bottom: 2px;
    font-weight: 600;
}
.widget-account-invoice-one .invoice-box .inv-action {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.widget-account-invoice-one .invoice-box .inv-action a {
    transform: none;
}

/*
    =====================
        Recent Orders
    =====================
*/
.widget-table-two {
    position: relative;
}
.widget-table-two .widget-content {
    background: transparent;
}
.widget-table-two .table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-bottom: 0;
}
.widget-table-two .table > thead > tr > th {
    text-transform: initial;
    font-weight: 600;
    border-top: none;
    background: #fafafa;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px 5px 10px 0;
}
.widget-table-two .table > thead > tr > th:first-child {
    border-bottom-right-radius: 6px;
}
.widget-table-two .table > thead > tr > th:first-child {
    border-top-right-radius: 6px;
}
.widget-table-two .table > thead > tr > th:last-child {
    border-bottom-left-radius: 6px;
}
.widget-table-two .table > thead > tr > th:last-child {
    border-top-left-radius: 6px;
}
.widget-table-two .table > thead > tr > th .th-content {
    color: #4361ee;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.widget-table-two .table > thead > tr > th:first-child .th-content {
    margin-right: 10px;
}
.widget-table-two .table > thead > tr > th:last-child .th-content {
    text-align: left;
    margin-left: 10px;
}
.widget-table-two .table > thead > tr > th:nth-last-child(2) .th-content {
    text-align: center;
    padding: 0 0 0 15px;
}
.widget-table-two .table > tbody > tr > td {
    border-top: none;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.widget-table-two .table > tbody > tr > td .td-content {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    color: #888ea8;
}
.widget-table-two .table > tbody > tr:hover > td .td-content {
    color: #515365;
}
.widget-table-two .table > tbody > tr > td:first-child {
    border-top-right-radius: 6px;
    padding: 10px 15px 10px 0;
}
.widget-table-two .table > tbody > tr > td:first-child {
    border-bottom-right-radius: 6px;
}
.widget-table-two .table > tbody > tr > td:last-child {
    border-top-left-radius: 6px;
    padding: 15.5px 0 15.5px 15px;
    text-align: left;
}
.widget-table-two .table > tbody > tr > td:last-child {
    border-bottom-left-radius: 6px;
}
.widget-table-two .table .td-content.customer-name {
    color: #515365;
    display: flex;
}
.widget-table-two .table .td-content.customer-name span {
    align-self: center;
}
.widget-table-two .table .td-content.product-brand {
    letter-spacing: 1px;
}
.widget-table-two .table .td-content img {
    border-radius: 12px;
    margin-left: 13px;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px;
    box-shadow: -1px 1px 16px 0px rgb(0 0 0 / 18%);
    align-self: center;
}
.widget-table-two .table tr > td:nth-last-child(2) .td-content {
    text-align: center;
}
.widget-table-two .table .td-content .badge {
    transform: none;
    border: 0;
}
/* .widget-table-two .table tr:hover .td-content .badge {
    transform: translateY(-3px);
} */
.widget-table-two .table tr .td-content .outline-badge-dark {
    background-color: #e3e4eb;
}
.widget-table-two .table tr .td-content .outline-badge-info {
    color: #2196f3;
    background-color: #e7f7ff;
}
.widget-table-two .table tr .td-content .outline-badge-danger {
    background-color: #fff5f5;
}


/*
    ===========================
        Top Selling Product
    ===========================
*/

.widget-table-three {
    position: relative;
}
.widget-table-three h5 {
    font-size: 19px;
    margin-bottom: 20px;
}
.widget-table-three .widget-content {
    background: transparent;
}
.widget-table-three .table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-bottom: 0;
}
.widget-table-three .table > thead > tr > th:first-child .th-content {
    margin-right: 10px;
}
.widget-table-three .table > thead > tr > th:last-child .th-content {
    padding: 0 0 0 15px;
    width: 84%;
    margin: 0 auto;
}
.widget-table-three .table > thead > tr > th {
    text-transform: initial;
    font-weight: 600;
    border-top: none;
    background: rgb(186 231 255 / 34%);
    border-left: none;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px 15px 10px 0;
}
.widget-table-three .table > thead > tr > th:first-child {
    border-bottom-right-radius: 6px;
}
.widget-table-three .table > thead > tr > th:first-child {
    border-top-right-radius: 6px;
}
.widget-table-three .table > thead > tr > th:last-child {
    border-bottom-left-radius: 6px;
    padding-right: 0;
}
.widget-table-three .table > thead > tr > th:last-child {
    border-top-left-radius: 6px;
}
.widget-table-three .table > thead > tr > th .th-content {
    color: #515365;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.widget-table-three .table > thead > tr > th:nth-last-child(2) .th-content {}
.widget-table-three .table > tbody > tr > td {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.widget-table-three .table > tbody > tr {
    background: transparent;
}
.widget-table-three .table > tbody > tr > td .td-content {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    color: #515365;
}
.widget-table-three .table > tbody > tr:hover > td .td-content {
    color: #3b3f5c;
}
.widget-table-three .table > tbody > tr > td:first-child {
    border-top-right-radius: 6px;
    padding: 10px 15px 10px 0px;
}
.widget-table-three .table > tbody > tr > td:first-child {
    border-bottom-right-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child {
    border-top-left-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child {
    border-bottom-left-radius: 6px;
}
.widget-table-three .table > tbody > tr > td:last-child .td-content {
    padding: 0 0 0 15px;
    width: 50%;
    margin: 0 auto;
}
.widget-table-three .table tr > td:nth-last-child(2) .td-content {
    padding: 0 0 0 0;
    width: 50%;
    margin: 0 auto;
}
.widget-table-three .table .td-content .discount-pricing {
    padding: 10px 15px 10px 0;
}
.widget-table-three .table .td-content.product-name {
    color: #515365;
    letter-spacing: 1px;
    display: flex;
}
.widget-table-three .table .td-content.product-name .prd-name {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 13px;
}
.widget-table-three .table tr:hover .td-content.product-name .prd-name {
    color: #888ea8;
}
.widget-table-three .table .td-content.product-name .prd-category {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    text-shadow: -1px 1px 7px rgb(0 0 0 / 26%);
}
.widget-table-three .table .td-content img {
    width: 35px;
    height: 35px;

    width: 42px;
    height: 42px;
    border-radius: 6px;
    margin-left: 10px;
    padding: 2px;
    box-shadow: -1px 1px 16px 0px rgb(0 0 0 / 18%);
    align-self: center;
}
.widget-table-three .table .td-content .pricing {
    padding: 10px 15px 10px 0;
}
.widget-table-three .table .td-content .tag {
    background: transparent;
    transform: none;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2px 5px;
    border-radius: 6px;
}
.widget-table-three .table .td-content .tag-primary {
    color: #4361ee;
    border: 1px dashed #4361ee;
    background: #eaf1ff;
}
.widget-table-three .table .td-content .tag-success {
    color: var(--accent-color);
    border: 1px dashed var(--accent-color);
    background: #ddf5f0;
}
.widget-table-three .table .td-content .tag-danger {
    color: #e7515a;
    border: 1px dashed #e7515a;
    background: #fff5f5;
}
.widget-table-three .table .td-content a {
    position: relative;
    padding: 0;
    font-size: 13px;
    background: transparent;
    transform: none;
    letter-spacing: 1px;
}
.widget-table-three .table .td-content a svg.feather-chevrons-right {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -20px;
    top: 1px;
}

/*
    ====================
        Media Object
    ====================
*/

@media(max-width: 1430px) and (min-width: 1200px) {

    /*
        ===========================
            Top Selling Product
        ===========================
    */
    .widget-table-three .table .td-content img {
        display: block;
    }
}

@media(max-width: 767px) {
    .widget-notification-two button {
        display: none;
    }
}
@media(max-width: 575px) {

    /*
        ==================
            Total Sales
        ==================
    */

    .widget-two .w-chart {
        position: inherit;
    }

    /*
        ========================
            Recent Activities
        ========================
    */

    .widget-activity-one .mt-container {
        height: auto;
    }

    /*
        ===========================
            Top Selling Product
        ===========================
    */
    .widget-table-two .table > thead > tr > th {
        padding-left: 15px;
    }
    .widget-table-two .table > tbody > tr > td {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    .widget-table-two .table .td-content.customer-name {
        color: #515365;
        text-align: center;
    }
    .widget-table-two .table .td-content.product-brand {
        text-align: center;
    }
    .widget-table-two .table .td-content img {
        display: block;
        margin: 0 auto 5px auto;
    }

    /*
        ===========================
            Top Selling Product
        ===========================
    */
    .widget-table-three .table > thead > tr > th {
        padding-left: 15px;
    }
    .widget-table-three .table > tbody > tr > td {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
    }

}






/*
    ====================
        Media Object
    ====================
*/
@media(max-width: 1359px) and (min-width: 1200px) {
    /*
        ===========================
            Top Selling Product
        ===========================
    */

    

    .widget-account-invoice-three .widget-heading {
        padding: 24px 15px 63px 15px;
    }
    .widget-account-invoice-three .widget-amount .w-a-info {
        padding: 10px 9px;
        width: 44%;
    }
    .widget-account-invoice-three .widget-amount .w-a-info.funds-received {
        margin-left: 1px;
    }
    .widget-account-invoice-three .invoice-list .inv-action a {
        font-size: 12px;
        padding: 5px 6px;
    }    
}
@media(max-width: 575px) {

    /*
        ==================
            Total Sales
        ==================
    */

    .widget-two .w-chart {
        position: inherit;
    }

    /*
        ========================
            Recent Activities
        ========================
    */

    .widget-activity-one .mt-container {
        height: auto;
    }



    /*
        ===========================
                Wallet 
        ===========================
    */

    .widget-account-invoice-three .widget-heading {
        padding: 24px 22px 63px 22px;
    }
    .widget-account-invoice-three .widget-amount .w-a-info {
        padding: 12px 12px;
    }
    .widget-account-invoice-three .widget-heading h5 {
        font-size: 25px;
    }

    /*
        ===========================
            Top Selling Product
        ===========================
    */
    .widget-table-three .table > thead > tr > th {
        padding-left: 15px;
    }
    .widget-table-three .table > tbody > tr > td {
        border-top: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
    }

}


/*
    =====================
        Media Query
    =====================
*/

@media (max-width: 1249px) {
    
    .widget-five .widget-content .meta-info .avatar.more-group {
        margin-left: -6px;
    }
    .widget-five .widget-content .meta-info .avatar {
        margin-right: -4px;
    }
    .widget-five:hover .widget-content .meta-info .avatar.more-group {
        margin-left: 6px;
    }
    
}